{% load static %}
<div class="row">
    <div class="col-sm-4">
        <div class="about-img">
            <img src={% static 'media/test1.jpg' %} class="img-thumbnail" alt="">
        </div>

    </div>
    <div class="col-sm-8">
        <h1><span class="head">About</span></h1>
        <p>Hi!!!👋👋</p>
        <br>
        <p>I am Tanmay Vig, persuing B. Tech in Computer Engineering from JAMIA MILLA ISLAMIA, New Delhi.</p>
        <br>
        <p>A web Developer who wants to help you increase your reach and make your business reach sky-height🚀.</p>
        <br>
        <p>I love to solve problems by sitting with my laptop💻.</p>
        <br>
        <p>Want to make a difference🐱‍👤.</p>
    </div>
</div>