{% load static %}
<div class="row">
    <div class="col-md-4">
        <div class="about-img">
            <img src={% static 'media/test1.jpg' %} class="img-thumbnail" alt="">
        </div>

    </div>
    <div class="col-md-8">
        <h1><span class="head">About</span></h1>
        <p>Hi!!!👋👋</p>
        <br>
        <p>I am Tanmay Vig, persuing B. Tech in Computer Engineering from JAMIA MILLA ISLAMIA, New Delhi.</p>
        <br>
        <p>Web Developer who can help you increase your reach and make your business reach sky-height🚀.</p>
        <br>
        <p>I love to solve problems by sitting with my laptop💻.</p>
        <br>
        <p>Want to make a difference🐱‍👤.</p>
        <button type="button" class="btn button btn-lg" data-bs-toggle="collapse" data-bs-target="#girja" aria-expanded="false" aria-controls="girja">Contact Me</button>
        <div class="collapse" id="girja">
            <div class="card">
                <ul class="foot">
                    <li><a href="https://github.com/TanmayVig/" target="_blank"><em class="fab fa-github"></em></a></li>
                    <li><a href="https://www.linkedin.com/in/tanmay-vig-07176118b/" target="_blank"><em class="fab fa-linkedin"></em></a></li>
                    <li><a href="https://www.instagram.com/im_tanmayvig" target="_blank"><em class="fab fa-instagram"></em></a></li>
                </ul>
            </div>
          </div>
    </div>
</div>