<footer class="footer mt-auto py-3 text-center">
    <ul class="foot">
        <li><a href="https://github.com/TanmayVig/" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/tanmay-vig-07176118b/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/im_tanmayvig" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p style="color: #E14658;">©2020 Tanmay Vig. All Rights Reserved IN</p>
</footer>