<footer class="footer py-3 text-center">
    <ul class="foot">
        <li><a href="https://github.com/TanmayVig/" target="_blank"><em class="fab fa-github"></em></a></li>
        <li><a href="https://www.linkedin.com/in/tanmay-vig-07176118b/" target="_blank"><em class="fab fa-linkedin"></em></a></li>
        <li><a href="https://www.instagram.com/im_tanmayvig" target="_blank"><em class="fab fa-instagram"></em></a></li>
    </ul>
    <p style="color: #E14658;">©2020 Tanmay Vig. All Rights Reserved IN.</p>
</footer>