<div class="skills">
    <h1 class="text-center"><span class="head solo">Skills</span></h1>
    <div class="skills-content row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Languages <em class="fas fa-code"></em></h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Java</li>
                    <li class="list-group-item">Java Script</li>
                    <li class="list-group-item">C</li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Technologies <em class="fas fa-robot"></em></h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Django</li>
                    <li class="list-group-item">Reactjs</li>
                    <li class="list-group-item">Nodejs</li>
                    <li class="list-group-item">Firebase</li>
                    <li class="list-group-item">Bootstrap</li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Tools <em class="fas fa-tools"></em></h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Visual Studio Code</li>
                    <li class="list-group-item">Git</li>
                    <li class="list-group-item">bash</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</div>